@font-face {
    font-family: "lowRes";
    src: url(assets/fonts/kinetype.woff2) format(woff2);
    font-weight: normal;
    font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* Style the body */
.body, html {
  font-family: "lowRes", sans-serif !important;
  margin: 0px;
  height: 100%
}

/* Header/logo Title */
.header {
  text-align: left;
  color: rgb(255, 0, 0);
  margin-top: 0;
  margin-bottom: 0;
  border: none;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 24px;
  background: #000000;
  padding: 5px;
}

.hearder h2 {
  background: transparent;
}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
  overflow: hidden;
  background-color: #000000;
  position: static;
  position: -webkit-sticky;
  outline: 2px solid #ff0000;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  position: relative;
  left: 37%;
  color: rgb(255, 0, 0);
  text-align: center;
  padding: 2px 10px;
  text-decoration: none;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ff0000;
  color: black;
}

/* Active/current link */
.navbar a.active {
  background-color: #ff0000;
  color: rgb(0, 0, 0);
}

.page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(assets/images/1002\(1\).jpg);
  height: 95%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.page-text button {
  border-color: #ff0000;
  border-width: 10px;
  border-style: solid;
  position: absolute;
  top: 40%;
  left: 50%;
  padding: 0px 30px;
  color: #ff0000;
  background-color: #000000;
  text-align: center;
  cursor: pointer;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-family: inherit;
}

.container {
  background-image: url(assets/images/background.jpg);
  background-size: cover;
  width: 800px;
  height: 550px;
  position: absolute;
  top: 47.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-width: 5px;
  border-color: #ff0000;
  border-style: solid;
}

.about_container {
  background-image: url(assets/images/background.jpg);
  background-size: cover;
  width: 800px;
  height: 550px;
  position: absolute;
  top: 47.5%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-width: 5px;
  border-color: #ff0000;
  border-style: solid;
}

.container h2 {
  margin-top: 12px;
}

.row {
  position: absolute;
  left: 15%;
  top: 12.5%;
  width: 70%;
  margin-top: 0px;
  padding: 0px;
}

input[type=text], textarea {
  width: 100%;
  padding: 5px;
  margin-top: 0px;
  margin-bottom: 2px;
  resize: vertical;
  background-color: #ff0000;
  border: none;
}

input[type=submit] {
  background-color: #000000;
  color: #ff0000;
  padding: 3px 5px;
  border: solid;
  border-width: 2px;
  cursor: pointer;
  font-family: inherit;
  margin-top: 8px;
}


.column {
  float: left;
  width: 33.33%;
  padding: 0px;
}

